@font-face {
  font-family: 'BigNoodleTitlingRegular'; 
  src: url('../fonts/big_noodle_titling.eot');
  src: url('../fonts/big_noodle_titling.eot') format('embedded-opentype'),
  url('../fonts/big_noodle_titling.woff2') format('woff2'),
  url('../fonts/big_noodle_titling.woff') format('woff'),
  url('../fonts/big_noodle_titling.ttf') format('truetype'),
  url('../fonts/big_noodle_titling.svg#BigNoodleTitlingRegular') format('svg');
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #FF0000;
}

#hideAll
{
  position: fixed;
  left: 0px; 
  right: 0px; 
  top: 0px; 
  bottom: 0px; 
  background-color: black;
  z-index: 99;
}

#lock {
  margin: 0 auto;
  text-align: center;
}

#lock img {
  width: 50vh;
}

#data {
  width: 100%;
  display: block;
  /* color: #FF0000; */
}

#data span {
  width: 100%;
  display: block;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  background-color: #000000;
  text-align: center;
  font-family: 'BigNoodleTitlingRegular';
  font-size: 1.337em;
}

#logo_image {
  width: 40vh;
  float: right;
  padding-right: 2vh;
  padding-top: 6vh;
  padding-bottom: 2vh;
}
